<div class="span12">
  <%= simple_form_for @bookkeeping do |f| %>
    <%= f.input :title, :input_html => {:class => "input-xxlarge"} %>
    <%= f.input :description, :input_html => {:class => "input-xxlarge"} %>
  <div class="form-action">
    <%= f.submit "Yes ^.<", :disable_with => 'Yoooo', :class => "btn btn-mini btn-primary" %>
  </div>
  <% end %>
</div>